.footer {
  padding: 10px 10px;
  border-top: 1px solid #62acb5;
  font-size: 12px;
  font-weight: bold;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #efefef;
  
    &-link {
      color: #62acb5;
      font-weight: bold;
    }

}


